@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Mulish&family=Neucha&family=Open+Sans:wght@800&family=Poppins:ital,wght@0,100;0,200;0,400;1,100;1,200;1,700&display=swap");

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  list-style: none;
  text-decoration: none;

  border: none;
  outline: none;
}
body {
  width: 100vw;
  min-height: 100vh;
  background-color: #010c15;
  color: #fff;
  overflow-x: hidden;

  font-family: "Fira Code", monospace;
  font-family: "Mulish", sans-serif;
  font-family: "Neucha", cursive;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}
#root {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.active {
  color: #fff !important;
  border-bottom: 2px solid #fea55f !important;
}
